.wrapper {
  display: flex;
}

.spacer {
  width: 300px;
}

.main {
  grid-area: main;
  padding: 0 16px;
}
.aside {
  grid-area: aside;
  width: 300px;
  position: sticky;
  align-self: flex-start;
  top: 64px;
  padding: 16px 32px;
}


.image_wrapper {
  overflow: auto;
  margin: 0 -32px;
  padding: 0 32px;
}
.image_wrapper p {
  margin: 0;
}