.layout {
    display: grid;
    grid-template-columns: minmax(10px, 1000px) 300px;
    grid-template-areas:
            'header xx    '
            'main   aside '
            'footer footer';
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 16px;
}

@media (max-width: 550px) {
    /* Phones */
    .layout {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 'header' 'main' 'footer';
        justify-content: center;
    }
}

.proj_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

.proj_entry {
text-decoration: none;
    color:inherit;
}

.proj_image {
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.proj_entry img {
    transform: scale(1);
    transition: transform 0.5s;
}

.proj_entry:hover img {
    transform: scale(1.1);
    transition: transform 0.2s;

}

.proj_title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding-bottom: 16px;
    letter-spacing: 0.1em;
    transition: font-weight 0.5s, letter-spacing 0.5s;
}

.proj_entry:hover .proj_title {
    font-weight: 300;
    letter-spacing: 0.2em;
}