.layout {
    display: grid;
    grid-template-columns: minmax(10px, 1000px) 300px;
    grid-template-areas:
            'header xx    '
            'main   aside '
            'footer footer';
    justify-content: center;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 16px;
}

@media (max-width: 550px) {
    /* Phones */
    .layout {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 'header' 'main' 'footer';
        justify-content: center;
    }
}