/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family);
    font-size: 1.25rem;
}

p {
    margin-bottom: 30px;
}


h2 {
    margin: 48px 0 12px 0;
}

:root {
    --shadow-color: 30deg 3% 60%;
    --shadow-elevation-low:
            -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
            -0.3px 0.9px 1.1px -1.2px hsl(var(--shadow-color) / 0.34),
            -0.8px 2.2px 2.6px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
            -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
            -0.6px 1.8px 2.1px -0.8px hsl(var(--shadow-color) / 0.36),
            -1.6px 4.5px 5.4px -1.7px hsl(var(--shadow-color) / 0.36),
            -3.8px 11px 13.1px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
            -0.2px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
            -1.1px 3.2px 3.8px -0.4px hsl(var(--shadow-color) / 0.34),
            -2.1px 6px 7.2px -0.7px hsl(var(--shadow-color) / 0.34),
            -3.4px 9.8px 11.7px -1.1px hsl(var(--shadow-color) / 0.34),
            -5.5px 15.7px 18.7px -1.4px hsl(var(--shadow-color) / 0.34),
            -8.5px 24.5px 29.2px -1.8px hsl(var(--shadow-color) / 0.34),
            -13px 37.3px 44.4px -2.1px hsl(var(--shadow-color) / 0.34),
            -19.1px 55px 65.5px -2.5px hsl(var(--shadow-color) / 0.34);
}