.wrapper {
    position: sticky;
    left: 100%;
    top: 0;
}

.header {
    margin-bottom: 16px;
}
.header:not(:first-of-type) {
    margin-top: 32px;
}

.nav_list {
    list-style: none;
    padding: 0;
}

.nav_list li {
    margin-bottom: 8px;
}

.markerlist {
    position: relative;
}
.markerlist li {
    margin-bottom: 0;
}

.marker {
    width: 100%;
    background-color: deeppink;
    position: absolute;
    top: 0;
    padding: 4px 0;
    transition: transform 500ms;
}

.markerlist .link, .markerlist .active_link {
    opacity: 1;
    background: white;
    color: black;
    mix-blend-mode: screen;
    padding: 4px 0;
    width: 100%;
    display: block;
}

.link, .active_link {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    opacity: 0.8;
    transition: color 500ms, opacity 500ms;
}
.link:hover {
    opacity: 1;
}
.active_link {
    color: deeppink;
}


.icon_list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.icon_list a {
    color:inherit;
}