.wrapper_elvis {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.wrapper_buttons {
    display: flex;
    gap: 16px
}
.wrapper {
    display: flex;
    gap: 16px;
}
@container (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
}


.number {
    text-align: right;
    width: 50px;
    border-radius: 5px;
}

.slider_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button_no_style {
    border: none;
    background: none;
    color: gray
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 12px;
    border-radius: 999999px;
    background: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.45);
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */

    background: #fff;
    border: 1px solid #000;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */

    background: #fff;
    border: 1px solid #000;
}